{% load static %}
  <div class="container-fluid fh5co-insta-feed activity">
    <div class="container recent">
      <div class="row mb-5 pb-5">
        <div class="col-lg-6">
          <div class="twit-box">
            <div class="media mb-3"> <img class="align-self-start mr-3 rounded-circle" src="{% static 'assets/img/twit-girl-img.png' %}" alt="">
              <div class="media-body">
                <h5 class="mb-0 mt-3">Sandra reigel</h5>
                <p>@sandraphotography</p>
              </div>
            </div>
            <p class="text-justify"> “Sed ut perspiciatis unde omnis iste nats error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut. </p>
            <div class="clearfix"> <a href="#" class="btn btn-primary mt-2 float-right">Follow</a> </div>
          </div>
        </div>
        <div class="col-lg-6 feed-caro">
          <h2>Instagram feed</h2>
          <div class="owl-carousel owl-carousel4 owl-theme">
            <div>
              <div class="card"> <img class="card-img" src="assets/img/feed-img1.png" alt="">
                <div class="card-img-overlay"> </div>
              </div>
            </div>
            <div>
              <div class="card"> <img class="card-img" src="assets/img/feed-img2.png"  alt="">
                <div class="card-img-overlay"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="text-center d-block">Find me on social media</h2>
      <div class="row social-links">
        <ul class="nav mx-auto">
          <li class="nav-item"> <a class="nav-link" href="https://www.facebook.com/fh5co"><img src="assets/img/facebook.png" alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="https://twitter.com/fh5co"><img src="assets/img/twitter.png" alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><img src="assets/img/pinterest.png" alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><img src="assets/img/google-plus.png" alt=""></a> </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="container-fluid p-0 pr-0">
    <div class="row mr-0 ml-0">
      <div class="col-md-6 pr-0 pl-0 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13035.46901327725!2d-80.85396551628644!3d35.234674411422155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a03af474f38f%3A0xf8301daadf5f7670!2sFourth+Ward%2C+Charlotte%2C+NC%2C+USA!5e0!3m2!1sen!2sin!4v1551001218548"  style="border:0" allowfullscreen></iframe>
      </div>
{#      <div class="col-md-6 content-us">#}
{#          <form method="post">#}
{#              {% csrf_token %}#}
{#        <div class="contact-form" id="contact">#}
{#          <h3 class="text-uppercase">Contact me</h3>#}
{#          <input type="text" class="form-control" placeholder="Your Name">#}
{#          <input type="text" class="form-control" placeholder="Your Email">#}
{#          <textarea class="form-control" placeholder="Your Message"></textarea>#}
{#          <button type="submit">Send</button>#}
{#        </div>#}
{#      </div>#}
    </div>
    <div class="copy pt-4 pb-4">
      <p><a href="https://freehtml5.co/" target="_blank"> &copy; 2023 arezoo balad nist code bezane :)</a>  &nbsp;  |  &nbsp; Design by <a href="" target="_blank">Arezoo Ghiami</a> &nbsp; | &nbsp;  All rights reserved</p>
    </div>
  </footer>